/* 
 *
  custom styles
*/


html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

button {
    display: inline-block;
    border: none;
    padding: $baseline-xs;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    &:focus {
      outline: 1px solid $highlight;
    }

    :disabled,
    &[disabled]{
      opacity: .5;
    }
}

.widget {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.geo-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 999;
  cursor: pointer;
  color: $white;
  &::before {
    font-size: 30px;;
  }
}

.global-backdrop {
  @include expander;
  background-color: $black;
  opacity: .3;
}