@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?pqusv0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?pqusv0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?pqusv0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chevron_left {
  &:before {
    content: $icon-chevron_left; 
  }
}
.icon-chevron_right {
  &:before {
    content: $icon-chevron_right; 
  }
}
.icon-target {
  &:before {
    content: $icon-target; 
  }
}

