/* 
 *
  Icons
*/
$icomoon-font-family: "ic" !default;
$icomoon-font-path: "../fonts" !default;

$icon-chevron_left: "\e901";
$icon-chevron_right: "\e902";
$icon-target: "\e900";

$icon-size: 30px;


/* 
 *
  Breakpoints
*/
$screen-xs-min: 0px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1200px;


/* 
 *
  Palette
*/
$black: #000;
$white: #fff;
$extra-light-grey: #bfbfbf;
$highlight: #ff4500;


/* 
 *
  Spacing
*/
$baseline-xs: 6px;
$baseline-sm: 12px;
$baseline-md: 18px;
$baseline-lg: 24px;
$baseline-xl: 30px;
$baseline-xxl: 36px;
$baseline-xxxl: 42px;