.slider-wrapper {
  position: relative;
  height: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 768px;
  /* margin: 0 50px; */
    
}

.slider > .item {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 0.5s ease-in-out;
  width: 100%;
}


.slider > .active,
.slider > .next {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.slider > .next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translete(-50%, -50%);
}

.slider > .to-left {
  animation-name: swipeLeft;
}

.slider > .from-right {
  animation-name: swipeRight;
}

.slider > .to-right {
  animation-name: swipeRight;
  animation-direction: reverse;
}

.slider > .from-left {
  animation-name: swipeLeft;
  animation-direction: reverse;
}

// controls
.slider-control {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 2px;
}

.slider-control > .arrow {
  position: relative;
  width: 40px;
  height: 40px;
  background-size: 26px 20px;

  &::before {
    @include absoluteCenter;
    font-size: $icon-size;
    color: $white;
  }
}

// dots
.slider-dots {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 20px;
  left: 50%;
  padding-left: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%);
}

.slider-dots li {
  position: relative;
  display: inline-block;
  padding: 10px;
  cursor: pointer;

  &::after {
    @include absoluteCenter;
    content: '';
    border-radius: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid #FFFFFF;
  }

  &.active::after {
    background-color: $white;
  }
}

