.weather-card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 768px;
  height: 100%;
  padding: $baseline-xs;
  overflow: hidden;
  border-radius: 2px;
}

.weather-image-container {
  @include expander;
    background-size: cover;
    background-repeat: no-repeat
}

.weather-image {
  @include expander;
  height: 100%;
  z-index: -2;
  filter: blur(2px) sepia(.1)
}

.backdrop {
  @include expander;
  background:$black;
  opacity: .3;
  z-index: -1;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
}

.city-name {
  font-size: 24px;
  margin: $baseline-sm;
}

.city-weather {
  margin: $baseline-xs;
  font-weight: 100;
  text-transform: capitalize;
}

.city-temp {
  font-size: 80px;
  margin: $baseline-sm -25px $baseline-sm 0;
}

.extra-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: $baseline-xs;
}


.data-box {
  display: flex;
  flex: 0 1 50%;

  &:first-child {
    justify-content: flex-end;
    padding-right: $baseline-sm;
  }
  &:last-child {
    justify-content: flex-start;
    padding-left: $baseline-sm;
  }
}

.city-wind {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.city-temp-range {
  margin: $baseline-sm 0;
}

.compass {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid $extra-light-grey;

  &::before {
    content: 'N';
    position: absolute;
    top: -6px;
    left: calc(50% - 3px);
    transform: translate(0, -50%);
    font-size: 7px;
    font-weight: 'bold';
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
}

.pointer {
  width: 0; 
  height: 0; 
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 12px solid $highlight;
}

.speed {
  margin: 0 $baseline-xs 0 $baseline-xs;
}

.forecast-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: $baseline-lg;
  color: #fff;

  img {
    width: 100%;
    max-width: 35px;
  }
}

.forecast-item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .day {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .temp {
    font-size: 10px;
  }
}
